{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content_title %}
    Resumen Colegiado
{% endblock %}

{% block content -%}
    <div id="modalCarousel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="cuerpoCarousel">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="100000">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div id="muestra">
                            <div class="item active" >
                                <img src="" alt="...">

                            </div>
                        </div>
                    </div>
                </div> <!-- Carousel -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos generales</h3>
                </div>

                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Id </th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Matricula </th>
                                <td>{{ entity.matricula }}</td>
                            </tr>


                            <tr>
                                <th>Apellido </th>
                                <td>{{ entity.apellido }}</td>
                            </tr>
                            <tr>
                                <th>Nombre </th>
                                <td>{{ entity.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Fecha matricula </th>
                                <td>{{ entity.fechaMatricula is null ? "" :entity.fechaMatricula|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Folio </th>
                                <td>{{ entity.folio }}</td>
                            </tr>


                            <tr>
                                <th>Libro </th>
                                <td>{{ entity.libro }}</td>
                            </tr>
                            <tr>
                                <th>Legajo </th>
                                <td>{{ entity.legajo }}</td>
                            </tr>

                            <tr>
                                <th>Circunscripcion </th>
                                <td>{{ entity.circunscripcion }}</td>
                            </tr>
                            <tr>
                                <th>Sexo </th>
                                <td>{{ entity.sexo.nombre|default('') }}</td>
                            </tr>
                            <tr>
                                <th>Tipo documento </th>
                                <td>{{ entity.tipoDocumento}}</td>
                            </tr>
                            <tr>
                                <th>Numero documento </th>
                                <td>{{ entity.numeroDocumento |default('')}}</td>
                            </tr>
                            <tr>
                                <th>Cuil Cuit </th>
                                <td>{{ entity.cuilCuit |default('')}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nacimiento</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Fecha nacimiento </th>
                                <td>{{ entity.fechaNacimiento is null ? "" :entity.fechaNacimiento|date('d-m-Y')|default('') }}</td>
                            </tr>
                            <tr>
                                <th>Localidad </th>
                                <td>{{ entity.localidad }}</td>
                            </tr>
                            <tr>
                                <th>Provincia</th>
                                <td>{{ entity.localidad.departamento.provincia |default('')}}</td>
                            </tr>
                            <tr>
                                <th>Pais </th>
                                <td>{{ entity.localidad.departamento.provincia.pais |default('')}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Contactos</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>

                            <tr>
                                <th>Telefono1 </th>
                                <td>{{ entity.telefono1 |default('')}}</td>
                            </tr>
                            <tr>
                                <th>Telefono2 </th>
                                <td>{{ entity.telefono2|default('') }}</td>
                            </tr>
                            <tr>
                                <th>Telefono3 </th>
                                <td>{{ entity.telefono3|default('') }}</td>
                            </tr>
                            <tr>
                                <th>Mail </th>
                                <td>{{ entity.mail|default('') }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Domicilios</h3>
                </div>
                <div class="box-body">
                    {%for domicilio in entity.domicilios%}
                        <div class="col-md-6">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Domicilio {{domicilio.tipoDomicilio}}</h3>
                                </div>
                                <div class="box-body">
                                    <table class="record_properties">
                                        <tbody>

                                            <tr>
                                                <th>Calle </th>
                                                <td>{{ domicilio.calle }}</td>
                                            </tr>
                                            <tr>
                                                <th>Numeracion </th>
                                                <td>{{ domicilio.numeracion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Piso </th>
                                                <td>{{ domicilio.piso }}</td>
                                            </tr>
                                            <tr>
                                                <th>Departamento </th>
                                                <td>{{ domicilio.departamentoC }}</td>
                                            </tr>
                                            <tr>
                                                <th>Localidad </th>
                                                <td>{{ domicilio.localidad }}</td>
                                            </tr>
                                            <tr>
                                                <th>Provincia </th>
                                                <td>{{ domicilio.localidad.departamento.provincia }}</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha </th>
                                                <td>{{ domicilio.fecha is null ? "" :domicilio.fecha |date('d-m-Y')}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Matricula Federal</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Matricula federal </th>
                                <td>{{ entity.matriculaFederal|default('') }}</td>
                            </tr>
                            <tr>
                                <th>Fecha </th>
                                <td>{{ entity.fechaFederal is null ? "" :entity.fechaFederal|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Libro </th>
                                <td>{{ entity.libroFederal |default('')}}</td>
                            </tr>
                            <tr>
                                <th>Folio </th>
                                <td>{{ entity.folioFederal |default('')}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Otros datos</h3>
                </div>
                <div class="box-body">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Fecha inactividad </th>
                                <td>{{ entity.fechaInactividad is null ? "" :entity.fechaInactividad|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Cargo </th>
                                <td>{{ entity.cargo }}</td>
                            </tr>
                            <tr>
                                <th>Fecha cargo </th>
                                <td>{{ entity.fechaCargo is null ? "" :entity.fechaCargo|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Fecha titulo </th>
                                <td>{{ entity.fechaTitulo is null ? "" :entity.fechaTitulo|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Facultad </th>
                                <td>{{ entity.facultad |default('')}}</td>
                            </tr>
                            <tr>
                                <th>Observacion </th>
                                <td>{{ entity.observacion |default('')}}</td>
                            </tr>
                            <tr>
                                <th>Denuncias </th>
                                <td>{{ entity.denuncias |default('')}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Documentos</h3>
                </div>
                <div class="box-body">
                    {%if entity.expedientes.count>0 and entity.expedientes.first.documentos.count>0%}
                        {% for documento in entity.expedientes.first.documentos %}
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{{ documento.tipoDocumentoExpediente }}</h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="record_properties">
                                            <tbody>
                                                <tr>
                                                    <th>Fecha de ingreso </th>
                                                    <td>{{ entity.fechaIngreso is null ? "" :documento.fechaIngreso|date("d-m-Y") }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Descripcion </th>
                                                    <td>{{ documento.descripcion }}</td>
                                                </tr>                                      
                                                {#                                        {% if danio.fotoDanio %}#}
                                                <tr>
                                                    <th><a class="pull-right badge bg-blue btn-carousel no-print" data-toggle="modal"
                                                           data-target="#modalCarousel"
                                                           data-url="{{ path('get_imagenes_hojas_ajax', { 'documentoId': documento.id }) }}"
                                                           title="Ver hojas">Ver hojas</a>
                                                    </th>
                                                </tr>
                                                {#                                        {% endif %}#}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="box-footer">
        <a class="btn btn-default" href="{{ path('colegiado') }}">
            Volver
        </a>


        <a class="btn btn-primary" href="{{ path('colegiado_edit', { 'id': entity.id }) }}">
            Editar
        </a>

    </div>
    {#    {{ form(delete_form) }}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btn-carousel').click(function () {
                url = $(this).data('url');
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function (data) {
                        $('#carousel-example-generic').html(data);
                    },
                });
            });
        })

        function imprSelec(muestra)
        {
            var ficha = document.getElementsByClassName(muestra);
            var ventimp = window.open(' ', 'popimpr');
            ventimp.document.write(ficha.innerHTML);
            ventimp.document.close();
            ventimp.print();
            ventimp.close();
        }

    </script>
{% endblock javascripts %}

